name: QualityGate Status

on:
  workflow_dispatch:
    inputs:
      state:
        description: 'Set CI Status'
        required: true
        default: 'success'
        type: choice
        options:
        - success
        - failure
        - pending
        - error

permissions:
  contents: write

jobs:
  status:
    runs-on: ubuntu-latest
    steps:
      - name: Get main SHA
        id: sha
        run: |
          echo "sha=$(curl -s https://api.github.com/repos/tassilo-posegga/QualityGate/commits/main | jq -r .sha)" >> $GITHUB_OUTPUT
      
      - name: Set Status
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/tassilo-posegga/QualityGate/statuses/${{ steps.sha.outputs.sha }} \
            -d "{
              \"state\": \"${{ github.event.inputs.state }}\",
              \"context\": \"QualityGate\",
              \"description\": \"Totem test: ${{ github.event.inputs.state }}\"
            }"
