name: QualityGate Status

on:
  workflow_dispatch:
    inputs:
      state:
        description: 'CI Status'
        required: true
        type: choice
        options:
        - success
        - failure
        - pending
        - error

jobs:
  status:
    runs-on: ubuntu-latest
    steps:
      - name: Set Status
        env:
          PAT_TOKEN: ${{ secrets.GH_PAT }}
          STATE: ${{ github.event.inputs.state }}
        run: |
          SHA=$(python3 -c "
import requests, json
headers = {'Authorization': 'Bearer $PAT_TOKEN'}
r = requests.get('https://api.github.com/repos/tassilo-posegga/QualityGate/commits/main', headers=headers)
data = r.json()
print(data['sha'])
          ")
          
          echo "SHA: $SHA"
          echo "State: $STATE"
          
          curl -X POST -s -w "%{http_code}" \
            -H "Authorization: Bearer $PAT_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/tassilo-posegga/QualityGate/statuses/$SHA" \
            -d "{\"state\":\"$STATE\",\"context\":\"QualityGate\",\"description\":\"Totem\"}"
